    {% extends "base.html" %}

    {% block content %}
    <h1>Esta es la misión de SYNAPSE</h1>
    <p>Transformar la experiencia estudio global mediante una plataforma digital que integra técnicas contemplativas milenarias con neurociencia de vanguardia, permitiendo que cada usuario optimice su capacidad de concentración en secciones de estudio mientras explora las dimensiones profundas de su consciencia, convirtiendo el aprendizaje en un acto de autodescubrimiento que genera seres humanos más conscientes, conectados y realizados.</p>
    {% endblock %}